setup-terraform/.terraform/*
setup-terraform/.terraform.lock.hcl
setup-terraform/terraform.tfstate
setup-terraform/terraform.tfstate.backup
plan-todos.txt
theory.txt
setup-ansible/inventory/DEV/hosts
setup-ansible/vault_password.txt