#button-id-0- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 6px; background-color: rgba(255, 255, 255, 0); min-height: 36px; padding: 0px; text-align: right; }

#button-id-0-:active, #button-id-0-.active { color: rgb(0, 0, 0) !important; }

#button-id-0-:hover, #button-id-0-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-6- { margin: unset; color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; min-height: 16px; width: auto; font-size: 16px; line-height: 16px; text-align: center; background-color: rgb(12, 54, 61); font-weight: 500; font-style: normal; padding: 13px; letter-spacing: 0px; border-radius: 33px; }

#button-id-6-:active, #button-id-6-.active { color: rgb(255, 255, 255); background-color: rgb(11, 49, 55) !important; }

#button-id-6-:hover, #button-id-6-.hover { color: rgb(255, 255, 255); background-color: rgba(12, 54, 61, 0.7); }

#container-id-0- { margin: unset; flex-direction: column; align-items: flex-start; justify-content: flex-start; width: auto; min-height: auto; background-color: rgba(238, 238, 238, 0); }

#container-id-0- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-0- > :last-child, #container-id-0- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-1- { margin: unset; min-height: auto; background-color: rgba(238, 238, 238, 0); flex-direction: column; justify-content: flex-start; width: 558px; left: 202px; align-items: flex-start; }

#container-id-1- > * { position: static; max-width: 100%; margin-right: 0px !important; margin-bottom: 12px !important; }

#container-id-1- > :last-child, #container-id-1- > .last-child { margin-bottom: 0px !important; margin-right: 0px !important; }

#container-id-11- { flex-direction: column; justify-content: flex-start; align-items: flex-start; background-color: rgba(160, 200, 190, 0); padding: 48px 0px; width: 484px; }

#container-id-11- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-11- > :last-child, #container-id-11- > .last-child { margin-bottom: 0px !important; margin-right: 0px !important; }

#container-id-131- { width: 100%; background-color: rgba(0, 0, 0, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 40px 0px; }

#container-id-131- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 40px !important; }

#container-id-131- > :last-child, #container-id-131- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-132- { margin: unset; align-items: flex-start; justify-content: flex-start; min-height: auto; padding: 0px; border-radius: 0px; background-color: rgba(255, 255, 255, 0); width: 100%; flex-direction: row; }

#container-id-132- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-132- > :last-child, #container-id-132- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-135- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 384px; min-height: 34px; flex-direction: column; align-items: flex-start; justify-content: center; }

#container-id-135- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 12px !important; }

#container-id-135- > :last-child, #container-id-135- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-138- { margin: unset; align-items: flex-start; justify-content: flex-start; min-height: auto; padding: 0px; border-radius: 0px; background-color: rgba(255, 255, 255, 0); width: 100%; flex-direction: row; }

#container-id-138- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-138- > :last-child, #container-id-138- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-141- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 384px; min-height: 34px; flex-direction: column; align-items: flex-start; justify-content: center; }

#container-id-141- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 12px !important; }

#container-id-141- > :last-child, #container-id-141- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-144- { margin: unset; align-items: flex-start; justify-content: flex-start; min-height: auto; padding: 0px; border-radius: 0px; background-color: rgba(255, 255, 255, 0); width: 100%; flex-direction: row; }

#container-id-144- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-144- > :last-child, #container-id-144- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-200- { margin: unset; align-items: flex-start; justify-content: flex-start; min-height: auto; padding: 0px; border-radius: 0px; background-color: rgba(255, 255, 255, 0); width: 100%; flex-direction: row; }

#container-id-200- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-200- > :last-child, #container-id-200- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-147- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 384px; min-height: 34px; flex-direction: column; align-items: flex-start; justify-content: center; }

#container-id-147- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 12px !important; }

#container-id-147- > :last-child, #container-id-147- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-201- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 384px; min-height: 34px; flex-direction: column; align-items: flex-start; justify-content: center; }

#container-id-201- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 12px !important; }

#container-id-201- > :last-child, #container-id-201- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-17- { min-height: 100px; width: 100%; padding: 40px 80px; align-items: center; background-color: rgba(160, 200, 190, 0); }

#container-id-17- > * { margin-right: 40px !important; margin-bottom: 0px !important; }

#container-id-17- > :last-child, #container-id-17- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-185- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 384px; min-height: 34px; flex-direction: column; align-items: flex-start; justify-content: center; }

#container-id-185- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 12px !important; }

#container-id-185- > :last-child, #container-id-185- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-189- { margin: unset; align-items: flex-start; justify-content: flex-start; min-height: auto; padding: 0px; border-radius: 0px; background-color: rgba(255, 255, 255, 0); width: 100%; flex-direction: row; }

#container-id-189- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-189- > :last-child, #container-id-189- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-19- { background-color: rgba(0, 0, 0, 0); padding: 0px 80px; align-items: center; justify-content: space-between; }

#container-id-19- > * { margin-right: 20px !important; margin-bottom: 0px !important; }

#container-id-19- > :last-child, #container-id-19- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-2- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 384px; min-height: 34px; flex-direction: column; align-items: flex-start; justify-content: center; }

#container-id-2- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 12px !important; }

#container-id-2- > :last-child, #container-id-2- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-20- { min-height: 100px; width: 100%; background-color: rgba(238, 238, 238, 0); align-items: flex-start; padding: 64px 80px; }

#container-id-20- > * { margin-right: 80px !important; margin-bottom: 0px !important; }

#container-id-20- > :last-child, #container-id-20- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-21- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 384px; min-height: 34px; flex-direction: column; align-items: flex-start; justify-content: center; }

#container-id-21- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 12px !important; }

#container-id-21- > :last-child, #container-id-21- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-22- { min-height: 100px; margin: unset;
  width: 100%; background-color: rgb(180, 242, 215); }

#container-id-22- > * { max-width: 1200px; }

#container-id-25- { margin: unset; align-items: flex-start; justify-content: flex-start; min-height: auto; padding: 0px; border-radius: 0px; background-color: rgba(255, 255, 255, 0); width: 100%; flex-direction: row; }

#container-id-25- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-25- > :last-child, #container-id-25- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-28- { margin: unset; flex-direction: column; align-items: flex-start; justify-content: flex-start; min-height: auto; padding: 0px; border-radius: 0px; background-color: rgba(255, 255, 255, 0); width: 236px; }

#container-id-28- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-28- > :last-child, #container-id-28- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-3- { margin: unset;
  width: 100%; background-color: rgba(238, 238, 238, 0); min-height: auto; }

#container-id-3- > * { max-width: 1200px; }

#container-id-321- { margin: unset; background-color: rgba(238, 238, 238, 0); justify-content: flex-end; min-height: auto; width: 105px; }

#container-id-321- > * { margin-right: 20px !important; margin-bottom: 0px !important; }

#container-id-321- > :last-child, #container-id-321- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-38- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 384px; min-height: 34px; flex-direction: column; align-items: flex-start; justify-content: center; }

#container-id-38- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 12px !important; }

#container-id-38- > :last-child, #container-id-38- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-4- { width: 100%; background-color: rgba(0, 0, 0, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 40px 0px; }

#container-id-4- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 40px !important; }

#container-id-4- > :last-child, #container-id-4- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-42- { margin: unset; align-items: flex-start; justify-content: flex-start; min-height: auto; padding: 0px; border-radius: 0px; background-color: rgba(255, 255, 255, 0); width: 100%; flex-direction: row; }

#container-id-42- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-42- > :last-child, #container-id-42- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-5- { margin: unset; align-items: flex-start; justify-content: flex-start; min-height: auto; padding: 0px; border-radius: 0px; background-color: rgba(255, 255, 255, 0); width: 100%; flex-direction: row; }

#container-id-5- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-5- > :last-child, #container-id-5- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-6- { margin: unset; min-height: auto; left: 306px; top: 713px; justify-content: flex-start; width: auto; background-color: rgba(255, 255, 255, 0); }

#container-id-6- > * { margin-right: 20px !important; margin-bottom: 0px !important; }

#container-id-6- > :last-child, #container-id-6- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-7- { flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 80px; background-color: rgba(0, 0, 0, 0); }

#container-id-7- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 10px !important; }

#container-id-7- > :last-child, #container-id-7- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container { flex-direction: column; align-items: flex-start; justify-content: flex-start; }

#content-container > * { max-width: 100%; margin-right: 0px !important; }

#content-container > :last-child, #content-container > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#element-id-109- { letter-spacing: 0px; line-height: 26.6667px; font-size: 16px; }

#element-id-134- { width: 100%; }

#element-id-140- { width: 100%; }

#element-id-146- { width: 100%; }

#element-id-184- { width: 100%; }

#element-id-19- { width: 100%; }

#element-id-2- { padding: 8px 0px; background-color: rgb(255, 255, 255); border-radius: 4px; border-style: solid; border-width: 1px; border-color: rgb(221, 221, 221); margin-top: 8px; }

#element-id-21- { width: 100%; }

#element-id-22- { width: 100%; }

#element-id-4- { width: 100%; }

#image-id-1- { margin: unset; border-radius: 6px; background-color: rgba(255, 255, 255, 0); padding: 6px 12px; position: static; width: 96px; min-height: 19px; font-family: poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 700; color: rgb(12, 54, 61); letter-spacing: 0px; line-height: 22.5px; font-size: 20px; }

#image-id-1-:active, #image-id-1-.active { color: rgb(12, 54, 61) !important; }

#image-id-1-:hover, #image-id-1-.hover { color: rgba(12, 54, 61, 0.7); }

#image-id-133- { margin: unset; width: 28px; background-color: rgba(221, 221, 221, 0); min-height: auto; }

#image-id-139- { margin: unset; width: 28px; background-color: rgba(221, 221, 221, 0); min-height: auto; }

#image-id-145- { margin: unset; width: 28px; background-color: rgba(221, 221, 221, 0); min-height: auto; }

#image-id-183- { margin: unset; width: 28px; background-color: rgba(221, 221, 221, 0); min-height: auto; }

#image-id-20- { margin: unset; background-color: rgba(221, 221, 221, 0); min-height: auto; width: 527px; }

#image-id-21- { margin: unset; width: 28px; background-color: rgba(221, 221, 221, 0); min-height: auto; }

#image-id-23- { margin: unset; width: 28px; background-color: rgba(221, 221, 221, 0); min-height: auto; }

#image-id-3- { margin: unset; width: 28px; background-color: rgba(221, 221, 221, 0); min-height: auto; }

#nav-id-18- { margin: unset; min-height: 80px; width: 100%; background-color: rgb(255, 255, 255); 
  top: 0;}

#nav-id-18- > * { max-width: 1200px; }

#root-container { background-position: center center; }

#section-id-15- { margin: unset; background-color: rgb(255, 255, 255); min-height: 411px; width: 314px; }

#section-id-15- > * { max-width: 1320px; }

#section-id-151- { margin: unset; background-color: rgb(255, 255, 255); min-height: 380px; width: 305px; }

#section-id-151- > * { max-width: 1320px; }

#section-id-41- { margin: unset;
  width: 100%; background-color: rgb(248, 249, 249); min-height: 25px; }

#section-id-41- > * { max-width: 1320px; }

#text-id-13- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; width: auto; font-weight: 700; line-height: 21px; font-size: 14px; letter-spacing: 1px; color: rgb(12, 54, 61); }

#text-id-136- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 600; color: rgb(12, 54, 61); letter-spacing: -0.272727px; line-height: 24.5px; font-size: 20px; }

#text-id-137- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 400; letter-spacing: 0px; width: auto; color: rgb(12, 54, 61); line-height: 25.0667px; font-size: 16px; }

#text-id-142- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 600; color: rgb(12, 54, 61); letter-spacing: -0.272727px; line-height: 24.5px; font-size: 20px; }

#text-id-143- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 400; letter-spacing: 0px; width: auto; color: rgb(12, 54, 61); line-height: 24.8px; font-size: 16px; }

#text-id-148- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 600; color: rgb(12, 54, 61); letter-spacing: -0.272727px; line-height: 24.5px; font-size: 20px; }
#text-id-202- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 600; color: rgb(12, 54, 61); letter-spacing: -0.272727px; line-height: 24.5px; font-size: 20px; }	

#text-id-150- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 400; letter-spacing: 0px; width: auto; color: rgb(12, 54, 61); line-height: 24.8px; font-size: 16px; }

#text-id-203- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 400; letter-spacing: 0px; width: auto; color: rgb(12, 54, 61); line-height: 24.8px; font-size: 16px; }

#text-id-186- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 600; color: rgb(12, 54, 61); letter-spacing: -0.272727px; line-height: 24.5px; font-size: 20px; }

#text-id-188- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 400; letter-spacing: 0px; width: auto; color: rgb(12, 54, 61); line-height: 24.8px; font-size: 16px; }

#text-id-2- { margin: unset; background-color: rgba(0, 0, 0, 0); font-style: normal; left: 132px; top: 1741px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 700; text-align: left; color: rgb(12, 54, 61); letter-spacing: -0.70588px; line-height: 27px; font-size: 24px; }

#text-id-22- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 600; color: rgb(12, 54, 61); letter-spacing: -0.272727px; line-height: 24.5px; font-size: 20px; }

#text-id-24- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 400; letter-spacing: 0px; width: auto; color: rgb(12, 54, 61); line-height: 24.8px; font-size: 16px; }

#text-id-25- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 700; color: rgb(12, 54, 61); letter-spacing: -1.25px; line-height: 48.8889px; font-size: 40px; }

#text-id-27- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 400; letter-spacing: 0px; font-size: 18px; color: rgb(12, 54, 61); line-height: 30px; width: 235px; text-align: left; }

#text-id-39- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 600; color: rgb(12, 54, 61); letter-spacing: -0.272727px; line-height: 24.5px; font-size: 20px; }

#text-id-40- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; letter-spacing: 0px; font-style: normal; font-weight: 400; color: rgb(12, 54, 61); line-height: 14.625px; font-size: 13px; }

#text-id-41- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 400; letter-spacing: 0px; width: auto; color: rgb(12, 54, 61); line-height: 24.8px; font-size: 16px; }

#text-id-6- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 600; color: rgb(12, 54, 61); letter-spacing: -0.272727px; line-height: 24.5px; font-size: 20px; }

#text-id-8- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-style: normal; font-weight: 400; letter-spacing: 0px; width: auto; color: rgb(12, 54, 61); line-height: 24.8px; font-size: 16px; }

[data-item-of="button-id-0-popover"] { font-size: 15px; background-color: rgba(255, 255, 255, 0); padding: 8px 16px; }

[data-item-of="button-id-0-popover"]:active, [data-item-of="button-id-0-popover"].active { background-color: rgba(255, 255, 255, 0); }

[data-item-of="button-id-0-popover"]:hover, [data-item-of="button-id-0-popover"].hover { background-color: rgba(0, 0, 0, 0.1); }

@media (min-width:1025px) {#container-id-1- > * { position: static; }

#container-id-11- { flex-grow: 0 !important; flex-shrink: 0 !important; }

#container-id-11- > * { position: static; }

#container-id-7- > * { position: static; }

#content-container { display: flex; }

#nav-id-18- { position: sticky; }}

@media (min-width:641px) and (max-width:1024px) {#button-id-6- { letter-spacing: -0.175px; line-height: 14px; font-size: 14px; padding: 13px 16px; flex-grow: 0 !important; flex-shrink: 0 !important; }

#container-id-1- { width: 532px; align-items: center; }

#container-id-11- { align-items: center; padding: 0px; }

#container-id-131- { align-items: flex-start; justify-content: flex-start; padding: 40px 0px; flex-direction: column; }

#container-id-131- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 40px !important; }

#container-id-131- > :last-child, #container-id-131- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-132- { width: 480px; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-132- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-132- > :last-child, #container-id-132- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-138- { width: 480px; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-138- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-138- > :last-child, #container-id-138- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-144- { width: 480px; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-144- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-144- > :last-child, #container-id-144- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-200- { width: 480px; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-200- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-200- > :last-child, #container-id-200- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-17- { flex-direction: column; justify-content: flex-start; align-items: center; padding: 64px 40px; }

#container-id-17- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 56px !important; }

#container-id-17- > :last-child, #container-id-17- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-189- { width: 480px; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-189- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-189- > :last-child, #container-id-189- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-19- { padding: 0px 24px; }

#container-id-19- > * { margin-right: 16px !important; margin-bottom: 0px !important; }

#container-id-19- > :last-child, #container-id-19- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-20- { flex-direction: column; align-items: flex-start; justify-content: center; padding: 64px 40px; }

#container-id-20- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 48px !important; }

#container-id-20- > :last-child, #container-id-20- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-25- { width: 480px; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-25- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-25- > :last-child, #container-id-25- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-28- { flex-direction: column; width: auto; }

#container-id-28- > * { max-width: 100%; }

#container-id-321- > * { margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-321- > :last-child, #container-id-321- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-4- { align-items: flex-start; justify-content: flex-start; padding: 40px 0px; flex-direction: column; }

#container-id-4- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 40px !important; }

#container-id-4- > :last-child, #container-id-4- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-42- { width: 480px; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-42- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-42- > :last-child, #container-id-42- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-5- { width: 480px; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-5- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-5- > :last-child, #container-id-5- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-7- { padding: 56px 40px; }

#container-id-7- > * { margin-right: 0px !important; margin-bottom: 56px !important; }

#container-id-7- > :last-child, #container-id-7- > .last-child { margin-bottom: 0px !important; }

#content-container { display: flex; flex-direction: column; }

#content-container > * { max-width: 100%; }

#element-id-149- { letter-spacing: 0px; line-height: 29.3334px; font-size: 24px; }

#element-id-187- { letter-spacing: 0px; line-height: 29.3334px; font-size: 24px; }

#element-id-40- { letter-spacing: 0px; line-height: 29.3334px; font-size: 24px; }

#image-id-20- { width: 480px; }

#nav-id-18- { position: sticky; 
  top: 0;}

#section-id-15- { width: 100%; }

#section-id-151- { width: 100%; }

#text-id-13- { text-align: center; }

#text-id-2- { text-align: center; line-height: 72px; font-size: 64px; letter-spacing: -2px; }

#text-id-25- { width: auto; letter-spacing: -1px; line-height: 39.1113px; font-size: 32px; }}

@media (max-width:640px) {#button-id-6- { min-height: 16px; padding: 14px 20px; display: none; flex-grow: 0 !important; flex-shrink: 0 !important; }

#container-id-1- { width: 100%; align-items: center; }

#container-id-11- { padding: 0px; align-items: center; }

#container-id-131- { flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 0px; }

#container-id-131- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 40px !important; }

#container-id-131- > :last-child, #container-id-131- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-132- { width: 100%; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-132- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-132- > :last-child, #container-id-132- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-138- { width: 100%; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-138- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-138- > :last-child, #container-id-138- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-144- { width: 100%; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-144- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-144- > :last-child, #container-id-144- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-200- { width: 100%; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-200- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-200- > :last-child, #container-id-200- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-17- { flex-direction: column; justify-content: flex-start; padding: 48px 24px; align-items: center; }

#container-id-17- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 40px !important; }

#container-id-17- > :last-child, #container-id-17- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-189- { width: 100%; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-189- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-189- > :last-child, #container-id-189- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-19- { padding: 0px 24px; }

#container-id-19- > * { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-19- > :last-child, #container-id-19- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-20- { padding: 48px 24px; flex-direction: column; align-items: flex-start; justify-content: flex-start; }

#container-id-20- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 48px !important; }

#container-id-20- > :last-child, #container-id-20- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-25- { width: 100%; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-25- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-25- > :last-child, #container-id-25- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-28- { width: 100%; flex-direction: column; }

#container-id-28- > * { max-width: 100%; }

#container-id-321- { display: none; }

#container-id-4- { flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 0px; }

#container-id-4- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 40px !important; }

#container-id-4- > :last-child, #container-id-4- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-42- { width: 100%; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-42- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-42- > :last-child, #container-id-42- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-5- { width: 100%; flex-direction: row; align-items: flex-start; justify-content: flex-start; }

#container-id-5- > * { max-width: 100%; margin-right: 12px !important; margin-bottom: 0px !important; }

#container-id-5- > :last-child, #container-id-5- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-6- > * { margin-right: 16px !important; margin-bottom: 0px !important; }

#container-id-6- > :last-child, #container-id-6- > .last-child { margin-bottom: 0px !important; margin-right: 0px !important; }

#container-id-7- { align-items: center; padding: 48px 24px; }

#container-id-7- > * { margin-right: 0px !important; margin-bottom: 48px !important; }

#container-id-7- > :last-child, #container-id-7- > .last-child { margin-bottom: 0px !important; }

#content-container { display: flex; flex-direction: column; }

#content-container > * { max-width: 100%; }

#nav-id-18- { min-height: 64px; position: sticky; 
  top: 0;}

#section-id-15- { width: 100%; }

#section-id-151- { width: 100%; }

#text-id-13- { text-align: center; }

#text-id-2- { line-height: 45px; font-size: 40px; letter-spacing: -1px; text-align: center; }

#text-id-25- { letter-spacing: -1px; line-height: 39.1111px; font-size: 32px; }

#text-id-40- { letter-spacing: 0px; line-height: 15.75px; font-size: 14px; }}